/* Container for the map and info box */
.map-box {
  flex: 2;
  margin-right: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.info-box {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
  border-left: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.location-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease, opacity 0.4s ease-in-out;
  overflow: hidden;
  width: 100%;
  max-width: 100%; /* Make card take up full width */
  opacity: 0;
  transform: translateY(20px);
}

.location-card.active {
  opacity: 1;
  transform: translateY(0);
}

.location-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
}

.location-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  color: #333;
}

.location-card p {
  font-size: 14px;
  line-height: 1.4;
  margin: 10px;
  color: #555;
}

.location-card-content {
  padding: 1em;
  text-align: justify;
}

.location-card-placeholder {
  font-size: 18px;
  color: #999;
  text-align: center;
  padding: 20px;
}

@media (max-width: 1024px) {
  .map-box {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .info-box {
    padding: 1em;
    border-left: none;
    border-top: 1px solid #ccc;
  }

  .location-card {
    max-width: 100%;
  }

  .MapIndicatorHeader {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .map-box {
    flex: 1;
  }

  .info-box {
    flex: 1;
    padding: 1em;
  }

  .location-card {
    max-width: 100%;
  }

  .location-card img {
    max-height: 150px;
  }

  .MapIndicatorHeader {
    font-size: 2rem;
  }
}
